//Landing Page
html,body{
	height:100%;
}

body{
	background:rgba(0, 119, 187, 1);
	font-family:roboto, cursive;
	background:url('../assets/images/employee_checks_phone.jpg') no-repeat top right;
	-webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}

.container-fluid{
	height:100%;
	position:relative;
}

//Logo - Comoon
label.logo{
	font-family: 'Lobster', cursive;
	font-style:italic;
	color: rgba(238, 238, 238, 1);
	display:block;
	span.first-part{
		color: rgba(255, 153, 0, 1);
	}
	&.size-1x{
		font-size: rem(40);
	}
	&.size-0x{
		font-size: rem(16);
	}
}

.welcome-title{
	font-size: rem(90);
	color:rgba(255, 255, 255, .7);
	color:rgba(149, 165, 166, .7);
	padding-bottom:70px;
}

.wrap-user-button{
	/*background:rgba(236, 240, 241, 1);*/
	.glyphicon-user{
		font-size:rem(330);
		margin-top:-10%;
		padding-bottom:20%;
	}
}

//Responsive View
//-----------------------------------------------

//Extra small Screen
@media (max-width: $screen-xs-max) {
	
	.welcome-title{
		font-size: rem(55);
		color:rgba(149, 165, 166, .7);
		padding-bottom:70px;
		background:rgba(236, 240, 241, 1);
		@include border-top-radius(6px);
		@include border-right-radius(6px);
		padding:20px 25px;
	}

	.wrap-user-button{
		position:absolute;
		bottom:5%;
		width:100%;
	}


}